@import "bourbon";
@import "neat";
@import "font-awesome";

$bg: #5E7686;
$navbg: #729DA9;
$grey: #213C3F;

$boxborder: 2px solid $grey;


body {
  background: $bg;
}

.banner {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  width: 100%;
  margin: 0;
}

.wrapper {
  width: 100%;
}

.wrap {
  width: 100%;
}

button {
  border-radius: 5px;
  border: 2px solid $grey;
  padding: 6px 15px 6px 15px;
}

.navbar {
  background-color: $bg;
  border-top: 2px solid $grey;
  border-bottom: 2px solid $grey;
  width: 100%;
  height: 50px;
  position: relative;

  button {
    position: absolute;
    top: 6px;
  }

  .homenav {
    left: 20%;
  }

  .logoutnav {
    right: 20%;
  }

}

.login {
  background-image: url('../images/flash-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  height: 766px;
  max-width: 500px;
  position: relative;

  .field {
    position: absolute;
    left: 25%;
  }

  .username {
    bottom: 200px;
    border-radius: 5px;
    line-height: 2em;
    width: 50%;
  }

  .password {
    bottom: 135px;
    border-radius: 5px;
    line-height: 2em;
    width: 50%;
  }

  .button {
    position: absolute;
    bottom: 90px;
    width: 20%;
  }

  .logBtn {
    left: 25%;
  }

  .regBtn {
    left: 55%;
  }
}

.deckwrapper {
  width: 100%;
  padding: 50px;

  .deckThumbList {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    .deckThumb {
      display: inline-block;
      border: $boxborder;
      background-repeat: no-repeat;
      background-color: #F5F5F5;
      border-radius: 5px;
      margin: 5px 2% 5px 2%;
      width: 150px;
      height: 150px;
      overflow: hidden;
    }
  }

  .addDeck {
    
  }
}

.deckViewContainer {
  width: 100%;
  padding-top: 15px;

  .data {
    width: 70%;
    margin: 0 auto;

    .cardContainer {
      background-color: #F5F5F5;
      width: 200px;
      height: 250px;
      border: $boxborder;
      border-radius: 5px;
      position: relative;

      div {
        position: absolute;
        margin-left: 1%;
        margin-right: 1%;
      }
      .quest {
        top: 2px;
      }
      .ans {
        bottom: 0;
      }
    }
  }

  .btns {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    button {
      width: 20%;
      margin-left: 10%;
    }
  }
}